---
title: 8000038 ověření účtu podřízené GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 993797d951dddea20d7df24ad40b5834a537852a
ms.sourcegitcommit: dd43cc0a9470f98b8ef2a3787c823801d674c666
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 02/12/2019
ms.locfileid: "29919937"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum narození: zobrazí ve vašem účtu Microsoft je nesprávný

Společnost Microsoft má účet zabezpečení velmi vážně. Můžete mít nedávno byly vyzváni poskytnout rodičovský souhlas pro účet Microsoft dítěte. Pokud potřebujete pomoc, poskytování souhlasu rodičů nebo aktualizace datum narození na účtu Microsoft, naleznete v tématu [ověření věku souhlasu rodičů](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Další informace o [podřízené účty Microsoft a souhlasu rodičů](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

