---
title: 8000038 ověření účtu podřízené GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 9d78905c512192ffc4675468abd2efc5f2e4baf4
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 04/23/2019
ms.locfileid: "32400962"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum narození: zobrazí ve vašem účtu Microsoft je nesprávný

Společnost Microsoft má účet zabezpečení velmi vážně. Můžete mít nedávno byly vyzváni poskytnout rodičovský souhlas pro účet Microsoft dítěte. Pokud potřebujete pomoc, poskytování souhlasu rodičů nebo aktualizace datum narození na účtu Microsoft, naleznete v tématu [ověření věku souhlasu rodičů](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Další informace o [podřízené účty Microsoft a souhlasu rodičů](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

