---
title: 8000038 ověření účtu podřízené GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 035004602a439335380ec72ea65fd1bd70ebbf0d
ms.sourcegitcommit: 5fb7a4b28859690020efdea630d03e70cc0e6334
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 06/28/2019
ms.locfileid: "35387050"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="eeab0-102">Datum narození: zobrazí ve vašem účtu Microsoft je nesprávný</span><span class="sxs-lookup"><span data-stu-id="eeab0-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="eeab0-103">Společnost Microsoft má účet zabezpečení velmi vážně.</span><span class="sxs-lookup"><span data-stu-id="eeab0-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="eeab0-104">Můžete mít nedávno byly vyzváni poskytnout rodičovský souhlas pro účet Microsoft dítěte.</span><span class="sxs-lookup"><span data-stu-id="eeab0-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="eeab0-105">Pokud potřebujete pomoc, poskytování souhlasu rodičů nebo aktualizace datum narození na účtu Microsoft, naleznete v tématu [ověření věku souhlasu rodičů](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="eeab0-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="eeab0-106">Další informace o [podřízené účty Microsoft a souhlasu rodičů](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="eeab0-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  