---
title: 8000038 OVĚŘENÍ dětského účtu GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: cs-CZ
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764973"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Datum narození zobrazené ve vašem účtu Microsoft je nesprávné

Společnost Microsoft bere zabezpečení velmi vážně. Možná jste byli nedávno vyzváni k poskytnutí souhlasu rodičů s účtem Microsoft dítěte. Pokud potřebujete pomoc s poskytnutím souhlasu rodičů nebo aktualizací data narození na účtu Microsoft, [přečtěte](https://go.microsoft.com/fwlink/p/?linkid=874364)si informace o ověření věku pro souhlas rodičů .
  
Přečtěte si další informace o [souhlasu rodičů a dětských účtech Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  